{% extends 'app001/base.html' %}
{% block content %}

{% regroup item_list by f01 as cust_list %}
{% for cust in cust_list %}
<br><h3>{{ cust.grouper }}</h3>
<table>
    <tr>
        <th>量產訂單號</th>
        <th>產品代碼</th>
        <th>產品名稱</th>
        <th>計劃交期</th>
        <th>訂單預交量</th>
        <th>已交量</th>
        <th>未交量</th>
        <th>備庫量</th>
        <th>欠備庫量</th>
        <th>客訴量</th>
        <th>模具壽命</th>
    </tr>
    {% for item in cust.list %}
    <tr>
        <td>{{ item.f02 }}          </td>
        <td>{{ item.f03 }}           </td>
        <td>{{ item.f04 }}             </td>
        <td>{{ item.f05|date:"Y-m-d" }}</td>
        <td>{{ item.f06 }}     </td>
        <td>{{ item.f07 }}        </td>
        <td>{{ item.f08 }}        </td>
        <td>{{ item.f09 }}  </td>
        <td>{{ item.f10 }}   </td>
        <td>{{ item.f11 }}     </td>
        <td>{{ item.f12 }}    </td>
    </tr>
    {% endfor %}
</table>

{% endfor %}
<div class='template_name'>template: item002a</div>
{% endblock %}
    