{% extends 'app001/base.html' %}
{% block content %}
{% if item_list %}
    <table>
    <tr>
    <th rowspan='2' colspan='4'>壓鑄機</th>
    <th colspan='30'>結構</th>
    <th colspan='20'>液壓油</th>
    <th colspan='30' style="border:0px"></th>
    
 </tr>
   
    <tr>
    <!--<th colspan='4'>壓鑄機</th>-->
    <th colspan='5'>格林柱</th>
    <th colspan='5'>機架底座</th>
 
  
    <th colspan='5'>模板</th>
    <th colspan='5'>合模</th>
    <th colspan='5'>間隙</th>
    <th colspan='5'>膜厚調節</th>
    <th colspan='5'>油管</th>
    <th colspan='5'>過濾</th>
    <th colspan='5'>油箱</th>
    <th colspan='5'>馬達</th>
    <th colspan='5'>潤滑</th>
    <th colspan='5'>氮氣</th>
    <th colspan='5'>電控</th>
    <th colspan='5'>自動噴霧</th>
    <th colspan='5'>自動取出</th>
    <th colspan='5'>自動切邊去毛</th>  
    </tr>
    <tr>
<th>01</th>
<th>02</th>
<th>03</th>
<th>04</th>
<th>05</th>
<th>06</th>
<th>07</th>
<th>08</th>
<th>09</th>
<th>10</th>

<th>11</th>
<th>12</th>
<th>13</th>
<th>14</th>
<th>15</th>
<th>16</th>
<th>17</th>
<th>18</th>
<th>19</th>
<th>20</th>
<th>21</th>
<th>22</th>
<th>23</th>
<th>24</th>
<th>25</th>
<th>26</th>
<th>27</th>
<th>28</th>
<th>29</th>
<th>30</th>
<th>31</th>
<th>32</th>
<th>33</th>
<th>34</th>
<th>35</th>
<th>36</th>
<th>37</th>
<th>38</th>
<th>39</th>
<th>40</th>
<th>41</th>
<th>42</th>
<th>43</th>
<th>44</th>
<th>45</th>
<th>46</th>
<th>47</th>
<th>48</th>
<th>49</th>
<th>50</th>
<th>51</th>
<th>52</th>
<th>53</th>
<th>54</th>
<th>55</th>
<th>56</th>
<th>57</th>
<th>58</th>
<th>59</th>
<th>60</th>
<th>61</th>
<th>62</th>
<th>63</th>
<th>64</th>
<th>65</th>
<th>66</th>
<th>67</th>
<th>68</th>
<th>69</th>
<th>70</th>
<th>71</th>
<th>72</th>
<th>73</th>
<th>74</th>
<th>75</th>
<th>76</th>
<th>77</th>
<th>78</th>
<th>79</th>
<th>80</th>
<th>81</th>
<th>82</th>
<th>83</th>
<th>84</th>
</tr>
    
    <tr>
    <th>幾號機</th>
    <th>噸位</th>
    <th>人員</th>
    <th>日期</th>
    <th>零件</th>
    <th>進度一</th>
    <th>進度二</th>
    <th>進度三</th>
    <th>備註說明</th>
    <th>零件</th>
    <th>進度一</th>
    <th>進度二</th>
    <th>進度三</th>
    <th>備註說明</th>
    <th>零件</th>
    <th>進度一</th>
    <th>進度二</th>
    <th>進度三</th>
    <th>備註說明</th>
    <th>零件</th>
    <th>進度一</th>
    <th>進度二</th>
    <th>進度三</th>
    <th>備註說明</th>
    <th>零件</th>
    <th>進度一</th>
    <th>進度二</th>
    <th>進度三</th>
    <th>備註說明</th>
    <th>零件</th>
    <th>進度一</th>
    <th>進度二</th>
    <th>進度三</th>
    <th>備註說明</th>
    <th>零件</th>
    <th>進度一</th>
    <th>進度二</th>
    <th>進度三</th>
    <th>備註說明</th>
    <th>零件</th>
    <th>進度一</th>
    <th>進度二</th>
    <th>進度三</th>
    <th>備註說明</th>
    <th>零件</th>
    <th>進度一</th>
    <th>進度二</th>
    <th>進度三</th>
    <th>備註說明</th>
    <th>零件</th>
    <th>進度一</th>
    <th>進度二</th>
    <th>進度三</th>
    <th>備註說明</th>
    <th>零件</th>
    <th>進度一</th>
    <th>進度二</th>
    <th>進度三</th>
    <th>備註說明</th>
    <th>零件</th>
    <th>進度一</th>
    <th>進度二</th>
    <th>進度三</th>
    <th>備註說明</th>
    <th>零件</th>
    <th>進度一</th>
    <th>進度二</th>
    <th>進度三</th>
    <th>備註說明</th>
    <th>零件</th>
    <th>進度一</th>
    <th>進度二</th>
    <th>進度三</th>
    <th>備註說明</th>
    <th>零件</th>
    <th>進度一</th>
    <th>進度二</th>
    <th>進度三</th>
    <th>備註說明</th>
    <th>零件</th>
    <th>進度一</th>
    <th>進度二</th>
    <th>進度三</th>
    <th>備註說明</th>
    
    </tr>
    
    {% for item in item_list %}
    <tr>
     <!--('壓鑄機', {'fields': ['field1', 'field1a',]}),-->
     <!--   ('結構', {'fields': [ 'field2a1','field2a2','field2a3','field2a4','field2a5','field2a6',], 'classes': ['collapse']}),-->
     <!--   ('液壓油', {'fields': [ 'field2b1','field2b2','field2b3','field2b4',], 'classes': ['collapse']}),-->
     <!--   ('潤滑等', {'fields': [ 'field2c1','field2d1','field2e1','field2f1','field2g1','field2h1',], 'classes': ['collapse']}),-->
     <!--   ('零件', {'fields': [ 'field3',], 'classes': ['collapse']}),-->
     <!--   ('進度', {'fields': [ 'field4a','field4b','field4c',], 'classes': ['collapse']}),-->
    <td  style='padding: 6px; text-align:center;'><a target='_blank' href='{{ item.field1 }}'>{{ item.field1 }}</a></td>
    <td>{{ item.field1a }}</td>
    <td>{{ item.r01c6 }}</td>
    <td>{{ item.r01c8 }}</td>
    


<!--#--- code2 for item001.html (start) ------->

    <td>{{ item.r03c3 }}</td>
    <td>{{ item.r03c4 }}</td>
    <td>{{ item.r03c5 }}</td>
    <td>{{ item.r03c6 }}</td>
    <td>{{ item.r03c7 }}</td>
    <td>{{ item.r04c3 }}</td>
    <td>{{ item.r04c4 }}</td>
    <td>{{ item.r04c5 }}</td>
    <td>{{ item.r04c6 }}</td>
    <td>{{ item.r04c7 }}</td>
    <td>{{ item.r05c3 }}</td>
    <td>{{ item.r05c4 }}</td>
    <td>{{ item.r05c5 }}</td>
    <td>{{ item.r05c6 }}</td>
    <td>{{ item.r05c7 }}</td>
    <td>{{ item.r06c3 }}</td>
    <td>{{ item.r06c4 }}</td>
    <td>{{ item.r06c5 }}</td>
    <td>{{ item.r06c6 }}</td>
    <td>{{ item.r06c7 }}</td>
    <td>{{ item.r07c3 }}</td>
    <td>{{ item.r07c4 }}</td>
    <td>{{ item.r07c5 }}</td>
    <td>{{ item.r07c6 }}</td>
    <td>{{ item.r07c7 }}</td>
    <td>{{ item.r08c3 }}</td>
    <td>{{ item.r08c4 }}</td>
    <td>{{ item.r08c5 }}</td>
    <td>{{ item.r08c6 }}</td>
    <td>{{ item.r08c7 }}</td>
    <td>{{ item.r10c3 }}</td>
    <td>{{ item.r10c4 }}</td>
    <td>{{ item.r10c5 }}</td>
    <td>{{ item.r10c6 }}</td>
    <td>{{ item.r10c7 }}</td>
    <td>{{ item.r11c3 }}</td>
    <td>{{ item.r11c4 }}</td>
    <td>{{ item.r11c5 }}</td>
    <td>{{ item.r11c6 }}</td>
    <td>{{ item.r11c7 }}</td>
    <td>{{ item.r12c3 }}</td>
    <td>{{ item.r12c4 }}</td>
    <td>{{ item.r12c5 }}</td>
    <td>{{ item.r12c6 }}</td>
    <td>{{ item.r12c7 }}</td>
    <td>{{ item.r13c3 }}</td>
    <td>{{ item.r13c4 }}</td>
    <td>{{ item.r13c5 }}</td>
    <td>{{ item.r13c6 }}</td>
    <td>{{ item.r13c7 }}</td>
    <td>{{ item.r15c3 }}</td>
    <td>{{ item.r15c4 }}</td>
    <td>{{ item.r15c5 }}</td>
    <td>{{ item.r15c6 }}</td>
    <td>{{ item.r15c7 }}</td>
    <td>{{ item.r16c3 }}</td>
    <td>{{ item.r16c4 }}</td>
    <td>{{ item.r16c5 }}</td>
    <td>{{ item.r16c6 }}</td>
    <td>{{ item.r16c7 }}</td>
    <td>{{ item.r17c3 }}</td>
    <td>{{ item.r17c4 }}</td>
    <td>{{ item.r17c5 }}</td>
    <td>{{ item.r17c6 }}</td>
    <td>{{ item.r17c7 }}</td>
    <td>{{ item.r18c3 }}</td>
    <td>{{ item.r18c4 }}</td>
    <td>{{ item.r18c5 }}</td>
    <td>{{ item.r18c6 }}</td>
    <td>{{ item.r18c7 }}</td>
    <td>{{ item.r19c3 }}</td>
    <td>{{ item.r19c4 }}</td>
    <td>{{ item.r19c5 }}</td>
    <td>{{ item.r19c6 }}</td>
    <td>{{ item.r19c7 }}</td>
    <td>{{ item.r20c3 }}</td>
    <td>{{ item.r20c4 }}</td>
    <td>{{ item.r20c5 }}</td>
    <td>{{ item.r20c6 }}</td>
    <td>{{ item.r20c7 }}</td>

<!--#--- code2 for model.py (end) ------->
</tr>
    {% endfor %}

    </table>
{% else %}
    <p>無資料顯示，需要權限並<mark><a target='_blank' href='../../admin/login/?next=/app001/'>登入</a></mark>才能查看。</p>
   <p>維護資料人員，請由此<mark><a target='_blank' href='../../admin'>登入</a></mark>。</p>

{% endif %}
<div class='template_name'>template: item001</div>
{% endblock %}




