{% load static %}

<!DOCTYPE HTML>
<html>
<head>
    <title>app001</title>
<link rel="stylesheet" type="text/css" href="{% static 'app001/style.css' %}" />

</head>
<body>
    <div class="header" >
                                
    <div class="logo" ><img src="/static/app001/images/logo.jpg" alt="logo" title="logo"/>
    </div>
    </div>
    <div class='info'>
<div class='current_user'>當前用戶: {{ current_user }} &nbsp;<a href="/app001/logout">登出</a>
    </div>    
<h1>

{{ page_title }} 技術規格
    
</h1>
                                                        
<!--<h1>Material List (<a href="../f2">next</a>)</h1>-->
<!--&nbsp;<a href="../f1">F1</a>-->
<!--&nbsp;<a href="../f2">F2</a>  -->
<!--&nbsp;<a href="../s1">S1</a>-->
<!--&nbsp;<a href="../s2">S2</a>-->

{% if item_list %}
    <table>
    {% for item in item_list %}
    <tr>
    <th style='padding: 6px; text-align:center;'>{{ item.field1 }}</th>
    <td style='padding: 6px; text-align:left;'>{{ item.field2 }}</td>
    <!--<td style='padding: 3px; text-align:left;'>{{ item.field3 }}</td>-->
    <!--<td>{{ item.field4 }}</td>-->
    <!--<td>{{ item.field5 }}</td>-->
    </tr>
    {% endfor %}

    </table>
{% else %}
    <p>無資料顯示，需要權限並<mark><a href='../admin'>登入</a></mark>才能查看。</p>
{% endif %}

    </div>
</body>
</html>

